  # Challenge

  ## Identifying Outliers using Standard Deviation

In [1]:
# initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [2]:
# create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/fraud_detection")

In [3]:
# loading data for card holder 2 and 18 from the database
query = """
SELECT cc.cardholder_id, cc.card, tr.date, tr.amount, tr.id
FROM "CREDITCARD" cc
LEFT JOIN "TRANSACTIONS" tr
ON cc.card = tr.card
"""

# Read the SQL query into a DataFrame
transactions_df = pd.read_sql(query, engine)

# Show the DataFrame's head
transactions_df.head()

  cardholder_id              card        date  amount    id
0            13  3561954487988605  2018-01-01    6.22   222
1            13  5135837688671496  2018-01-01    3.83  2045
2            10   213193946980303  2018-01-01    9.61   395
3             4  4263694062533017  2018-01-01   19.03  3309
4            18     4498002758300  2018-01-01    2.95   567

In [4]:
# code a function to identify outliers based on standard deviation

def detect_outlier(data_1):
    outliers=[]    
    threshold=3
    mean_1 = np.mean(data_1)
    std_1 =np.std(data_1)
    
    
    for y in data_1:
        z_score= (y - mean_1)/std_1 
        if np.abs(z_score) > threshold:
            outliers.append(y)
    return outliers

In [5]:
# find anomalous transactions for 3 random card holders
random_holder1_data = transactions_df.loc[transactions_df['cardholder_id'] == random.choice(transactions_df['cardholder_id'])]
random_holder2_data = transactions_df.loc[transactions_df['cardholder_id'] == random.choice(transactions_df['cardholder_id'])]
random_holder3_data = transactions_df.loc[transactions_df['cardholder_id'] == random.choice(transactions_df['cardholder_id'])]

In [6]:
print(random_holder1_data.head()) 
print(random_holder2_data.head()) 
print(random_holder3_data.head())

   cardholder_id              card        date  amount    id
14            23     4741042733274  2018-01-02   10.44  1179
28            23  4188164051171486  2018-01-04   10.22  1510
34            23  4188164051171486  2018-01-05    2.32  2127
63            23     4741042733274  2018-01-08   11.49  1065
69            23  4150721559116778  2018-01-08   15.84  2550
    cardholder_id              card        date  amount    id
74             24     4681896441519  2018-01-08    1.68  3480
78             24     4681896441519  2018-01-09   16.37  2558
99             24  3582198969197591  2018-01-12   11.52  1048
100            24    30142966699187  2018-01-12    1.84  2170
106            24     4681896441519  2018-01-12    1.88  3373
   cardholder_id          card        date  amount    id
21            22  501809222273  2018-01-03   10.27  1077
26            22  501809222273  2018-01-04   17.59  2922
35            22  501809222273  2018-01-05    5.09  1995
64            22  501809222273  2018-01-08   10.64  1340
76            22  501809222273  2018-01-09    7.07   379

In [7]:
detect_outlier(random_holder1_data['amount'])

[]

In [8]:
detect_outlier(random_holder2_data['amount'])

[1011.0, 1901.0000000000002, 1301.0, 1035.0]

In [9]:
detect_outlier(random_holder3_data['amount'])

[]

  ## Identifying Outliers Using Interquartile Range

In [41]:
# code a function to identify outliers based on interquartile range

def IQR_outlier(data_1):
    sorted(data_1)
    q1, q3= np.percentile(data_1,[25,75])
    iqr = q3 - q1
    lower_bound = q1 -(1.5 * iqr) 
    upper_bound = q3 +(1.5 * iqr) 
    for y in data_1:
        upperbound_data = []
        lowerbound_data = []
        if y > upper_bound:
            upperbound_data.append(y)
        elif y < lower_bound:
            lowerbound_data.append(y)
    return lowerbound_data, upperbound_data

In [42]:
random_data = transactions_df.loc[transactions_df['cardholder_id'] == random.choice(transactions_df['cardholder_id'])]
random2_data = transactions_df.loc[transactions_df['cardholder_id'] == random.choice(transactions_df['cardholder_id'])]
random3_data = transactions_df.loc[transactions_df['cardholder_id'] == random.choice(transactions_df['cardholder_id'])]

In [43]:
print(random_data.head()) 
print(random2_data.head()) 
print(random3_data.head())

    cardholder_id              card        date  amount    id
74             24     4681896441519  2018-01-08    1.68  3480
78             24     4681896441519  2018-01-09   16.37  2558
99             24  3582198969197591  2018-01-12   11.52  1048
100            24    30142966699187  2018-01-12    1.84  2170
106            24     4681896441519  2018-01-12    1.88  3373
    cardholder_id            card        date  amount    id
19              9  30181963913340  2018-01-03    2.63   793
102             9  30181963913340  2018-01-12    6.19   451
166             9  30181963913340  2018-01-18    1.24  3406
234             9  30181963913340  2018-01-24   13.39  1231
244             9  30181963913340  2018-01-25   10.10  1252
    cardholder_id              card        date  amount    id
18              5  4268491956169254  2018-01-03   14.57  2512
36              5  4268491956169254  2018-01-05   12.20  1346
50              5  4268491956169254  2018-01-06   16.28  2557
98              5  4268491956169254  2018-01-11   19.50  2779
105             5  4268491956169254  2018-01-12    4.69   291

In [44]:
# find anomalous transactions for 3 random card holders
IQR_outlier(random_data['amount'])

([], [])

In [45]:
IQR_outlier(random2_data['amount'])

([], [1723.9999999999998])

In [46]:
IQR_outlier(random3_data['amount'])

([], [])